# Please copy contents of this file into config.properties and define credentials there

apiEndpoint = test
authEndpoint = test
clientId = test
clientSecret = test
model.names = invoice, receipt
document.paths = example.jpeg, example.jpeg
document.mime.types = image/jpeg, image/jpeg
